<configuration>
	<connectionStrings>
		<add name="CariTakip.Properties.Settings.dbConnectionString"
             connectionString="Data Source=YOUR_SERVER_NAME;Initial Catalog=YOUR_DATABASE_NAME;User ID=YOUR_USERNAME;Password=YOUR_PASSWORD"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
